<link href="/css/archives.css" rel="stylesheet">
<div class="container page-slides">
    <div class="row">
        <div class="span12">
            <div class="row">
                <div class="span3">
                    <%- partial('plugins/category-menu', { categories: categories }) %>
                    <%- partial('plugins/contributors', { contributors: config.plugins.contributors, authors: authors, authorsOrder: authorsOrder }) %>
                </div>
                <div class="span9">
                    <div class="well bg">
                        <div class="page-header">
                            <h1>Presentations</h1>
                        </div>
                <%
                    var y, m, d, year, month, day;
                    slidesOrder.index.forEach(function(item) {
                        y = item[0];
                        year = item[1];
                %>
                    <%
                        year.forEach(function(item) {
                            m = item[0];
                            month = item[1];
                    %>
                    <h2><%= y %>-<%= m %></h2>
                        <%
                            month.forEach(function(item) {
                                d = item[0];
                                day = item[1];
                        %>

                        <%
                            day.forEach(function(slide) {
                        %>
                        <section class="comments">
                            <article class="comment">
                                <a class="comment-img" href="/authors/<%= slide.author.head.name %>">
                                    <img src="<%= slide.author._gravatar %>" alt="<%= slide.author.head.name %>" width="50" height="50">
                                </a>
                                <div class="comment-body">
                                    <div class="text">
                                        <h3><%= slide.head.title %>... <small><a href="/slides/<%= slide._file %>">read</a></small></h3>
                                    </div>
                                    <p class="attribution">by <a href="/authors/<%= slide.author.head.name %>" ><%= slide.author.head.name %></a> at <%= slide._printDate %></p>
                                </div>
                            </article>
                        </section>
                        <% }) %>
                    <% }) %>
                <% }) %>
            <% }) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div><!-- /container -->
​