<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title><%= config.meta.pageTitle %> <%= config.meta.defaultTitle %></title>
    <meta name="description" content="<%= config.meta.description %>">
    <meta name="author" content="<%= config.meta.author %>">
    <meta name="keywords" content="<%= config.meta.keywords.join(',') %>" />
    <meta name="generator" content="haroopress v<%= config.meta.version %>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../@asserts/themes/<%=config.defaultSlideStyle%>/styles/style.css">
    <link href="/css/code/<%=config.defaultCodeStyle%>.css" rel="stylesheet">
    <!--
        To apply styles to the certain slides
        use slide ID to get needed elements
        -->
    <style>
        #slide0 *{
            color:#FFF;
            text-align: right;
            font-size:40px;
            text-shadow: 0 1px 0 rgba(0, 0, 0, 0.5);
        }
        #slide0 h2 {
            color:#FFF;
            text-align:center;
            font-size:70px;
        }
        #slide0 h3 {
            color:#FFF;
            text-align:right;
            font-size:60px;
        }
        #FitToWidth h2,
        #FitToHeight h2 {
            color:#FFF;
            text-align:center;
            }
    </style>
</head>
<body class="list">
    <%- body %>

    <!--
        To hide progress bar from entire presentation
        just remove “progress” element.
        -->
    <div class="progress"><div></div></div>
    <script src="../@asserts/scripts/script.js"></script>
    <!-- Copyright © 2010–2012 Vadim Makeev — pepelsbey.net -->
    <!-- Photos by John Carey — fiftyfootshadows.net -->
</body>
</html>
